/* colors
Dark green #304C0C
Applegreen #79A640
White #FFFFFF */


@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
}
/* Body styles */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    height: 100%;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.active {
        
}

.message.error {
    border-color: red;
    color: red;
}

/* Header styles */
li {
    display: inline;
    width: 500px;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

a:link {
    color: #79A640;
    text-decoration: none;
}

a:visited {
    color:#79A640;
    text-decoration: none;    
}

a:hover {
    text-decoration: underline;
}

.active {
    color: #304C0C;
    text-decoration: none;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
} 

.logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    padding: 20px;
}

.header {
    height: 100px;
}

/* Main styles */
main {
    width: 100%;
    background-color: #79A640;
    height: 100%;
}

/* searcbar styles */
.searchField {
    background-image: url(/images/topphoto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40%;
}

.searchForm {
    position: absolute;
    left: 5%;
    top: 50%;
}

.searchField2 {
    width: 100%;
    /* height: 0; */
    padding-top: 40%;
}

.searchForm2 {
    position: absolute;
    left: 5%;
    top: 50%;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

.input {
    background: #fff;
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.searchButton {
    position: relative;
    border-radius: 0 25px 25px 0;
    left: -25px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #304C0C;
    color: #fff;    
}

.filterBoxes {
    list-style-type: disc;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    background-color: rgba(255,255,255, 0.5);
    padding: 5px;
    border-radius: 25px;
}


/* Form styles */
.container {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-around;
}

.formContainer {
    flex: 1;
    align-self: flex-start;
    background-color: #304C0C;
    border-radius: 50px;
    margin: 20px;
    margin-left: 100px;
    height: 100%;
    text-align: center;
    padding: 10px;
}

input {
    margin: 10px;
    margin-top: 20px;
}

textarea {
    margin: 10px;
}

.sendButton {
    position: relative;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #fff;
    color: #304C0C;    
}

.aboutContainer {
    flex: 2;
    align-self: flex-start;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 0 auto;
    margin: 20px;
    height: 100%;
}

.aboutUs {
    padding-left: 50px;
    padding-right: 50px;
}


/* Category styles */
.recipeContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    font-family: 'Ubuntu', sans-serif;
    background: #304C0C;
    color: #fff ;
    margin: 20px;
    width: 200px;
    border-radius: 25px;
    position: relative;
}

.recipeName {
    justify-content: flex-start;
    font-size: 18px;
    margin-bottom: 20px;
}

.recipe i {
    position: absolute;
    left: 15px;
    bottom: 5px;
    font-size: 20px;
} 

.recipe i.fa {
    color: #fff;
}

.thumbnailContainer {
    display: flex;
    justify-content: center;
}

.thumbnail {
    margin-top: 0;
    border-radius: 25px 25px 0 0;
    max-width: 100%;
}